/home/frederic/.atom/config.cson
/home/frederic/.atom/init.coffee
/home/frederic/.atom/keymap.cson
/home/frederic/.atom/snippets.cson
/home/frederic/.atom/styles.less
/home/frederic/.bash_aliases
/home/frederic/.bash_history
/home/frederic/.bash_logout
/home/frederic/.bashrc
/home/frederic/.config/
/home/frederic/.conkyrc
/home/frederic/.gconf/
/home/frederic/.gitconfig
/home/frederic/.nano/
/home/frederic/.nanorc
/home/frederic/.viminfo
/home/frederic/.vimrc
/home/frederic/.Xdefaults
/home/frederic/.xinputrc
/home/frederic/.xscreensaver
/root/.bash_aliases
/root/.bashrc
