/home/frederic/.config/Atom
/home/frederic/.config/chromium
/home/frederic/.config/libreoffice
/home/frederic/.config/midori/extensions
/home/frederic/.config/Private Internet Access
/home/frederic/.config/sublime-text-3/Cache
/home/frederic/.config/transmission/blocklists
/home/frederic/.config/transmission/resume
/home/frederic/.config/transmission/torrents
